# Sparkify Project Workspace
This workspace contains a tiny subset (128MB) of the full dataset available (12GB). Feel free to use this workspace to build your project, or to explore a smaller subset with Spark before deploying your cluster on the cloud. Instructions for setting up your Spark cluster is included in the last lesson of the Extracurricular Spark Course content.

You can follow the steps below to guide your data analysis and model building portion of this project.

In [1]:
! python --version

Python 3.6.3

In [2]:
# import libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, IntegerType

In [3]:
# create a Spark session
spark = SparkSession.builder \
    .master("local") \
    .appName("Sparkify") \
    .getOrCreate()

In [4]:
spark.sparkContext.getConf().getAll()

[('spark.master', 'local'),
 ('spark.app.id', 'local-1571844451087'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'Sparkify'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '43225'),
 ('spark.driver.host', '4a13605e1578'),
 ('spark.ui.showConsoleProgress', 'true')]

# Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. Load and clean the dataset, checking for invalid or missing data - for example, records without userids or sessionids.

In [5]:
sparkify_data_file = "./mini_sparkify_event_data.json"
event_data = spark.read.json(sparkify_data_file)
event_data.persist()

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: bigint, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string]

In [6]:
event_data.head()

Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30')

In [7]:
event_data.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [8]:
event_data.select("userId").dropDuplicates().sort("userId").show()

+------+
|userId|
+------+
|      |
|    10|
|   100|
|100001|
|100002|
|100003|
|100004|
|100005|
|100006|
|100007|
|100008|
|100009|
|100010|
|100011|
|100012|
|100013|
|100014|
|100015|
|100016|
|100017|
+------+
only showing top 20 rows

In [9]:
event_data.select("sessionID").dropDuplicates().sort("sessionID").show()

+---------+
|sessionID|
+---------+
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|        7|
|        8|
|        9|
|       10|
|       11|
|       12|
|       13|
|       15|
|       16|
|       17|
|       18|
|       19|
|       20|
|       21|
+---------+
only showing top 20 rows

In [10]:
event_data.filter(event_data["userId"] == "").count()

8346

In [11]:
event_data.filter(event_data["sessionId"] == "").count()

0

In [12]:
user_log_valid = event_data.dropna(how = "any", subset = ["userId", "sessionId"])

In [13]:
user_log_valid.count()

286500

In [14]:
user_log_valid = user_log_valid.filter(user_log_valid["userId"] != "")

In [15]:
user_log_valid.count()

278154

In [16]:
286500-278154

8346

# Exploratory Data Analysis
When you're working with the full dataset, perform EDA by loading a small subset of the data and doing basic manipulations within Spark. In this workspace, you are already provided a small subset of data you can explore.

### Define Churn

Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

### Explore Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

In [17]:
# define churn looking at 'cancellation confirmation' event

In [18]:
user_log_valid.select("page").dropDuplicates().collect()

[Row(page='Cancel'),
 Row(page='Submit Downgrade'),
 Row(page='Thumbs Down'),
 Row(page='Home'),
 Row(page='Downgrade'),
 Row(page='Roll Advert'),
 Row(page='Logout'),
 Row(page='Save Settings'),
 Row(page='Cancellation Confirmation'),
 Row(page='About'),
 Row(page='Settings'),
 Row(page='Add to Playlist'),
 Row(page='Add Friend'),
 Row(page='NextSong'),
 Row(page='Thumbs Up'),
 Row(page='Help'),
 Row(page='Upgrade'),
 Row(page='Error'),
 Row(page='Submit Upgrade')]

In [19]:
user_log_valid \
.select(["userId", "sessionId", "firstname", "page", "song"]) \
.where(user_log_valid.page == "Cancellation Confirmation") \
.collect()

[Row(userId='18', sessionId=514, firstname='Adriel', page='Cancellation Confirmation', song=None),
 Row(userId='32', sessionId=540, firstname='Diego', page='Cancellation Confirmation', song=None),
 Row(userId='125', sessionId=174, firstname='Mason', page='Cancellation Confirmation', song=None),
 Row(userId='105', sessionId=508, firstname='Alexander', page='Cancellation Confirmation', song=None),
 Row(userId='17', sessionId=797, firstname='Kayla', page='Cancellation Confirmation', song=None),
 Row(userId='143', sessionId=843, firstname='Molly', page='Cancellation Confirmation', song=None),
 Row(userId='101', sessionId=842, firstname='Alex', page='Cancellation Confirmation', song=None),
 Row(userId='129', sessionId=802, firstname='Davis', page='Cancellation Confirmation', song=None),
 Row(userId='121', sessionId=881, firstname='Nikolas', page='Cancellation Confirmation', song=None),
 Row(userId='51', sessionId=934, firstname='Ethan', page='Cancellation Confirmation', song=None),
 Row(userId='87', sessionId=1092, firstname='Christian', page='Cancellation Confirmation', song=None),
 Row(userId='122', sessionId=1029, firstname='Molly', page='Cancellation Confirmation', song=None),
 Row(userId='12', sessionId=1072, firstname='Sophia', page='Cancellation Confirmation', song=None),
 Row(userId='58', sessionId=1112, firstname='Erick', page='Cancellation Confirmation', song=None),
 Row(userId='73', sessionId=1059, firstname='Rachel', page='Cancellation Confirmation', song=None),
 Row(userId='3', sessionId=1324, firstname='Jeffery', page='Cancellation Confirmation', song=None),
 Row(userId='106', sessionId=1383, firstname='Sophia', page='Cancellation Confirmation', song=None),
 Row(userId='103', sessionId=1583, firstname='Piper', page='Cancellation Confirmation', song=None),
 Row(userId='28', sessionId=1519, firstname='Teagan', page='Cancellation Confirmation', song=None),
 Row(userId='54', sessionId=1819, firstname='Alexi', page='Cancellation Confirmation', song=None),
 Row(userId='29', sessionId=1864, firstname='Kaleb', page='Cancellation Confirmation', song=None),
 Row(userId='70', sessionId=1940, firstname='Chayse', page='Cancellation Confirmation', song=None),
 Row(userId='53', sessionId=2003, firstname='Sebastian', page='Cancellation Confirmation', song=None),
 Row(userId='100011', sessionId=40, firstname='Sebastian', page='Cancellation Confirmation', song=None),
 Row(userId='100001', sessionId=53, firstname='Delaney', page='Cancellation Confirmation', song=None),
 Row(userId='100024', sessionId=42, firstname='Jonathon', page='Cancellation Confirmation', song=None),
 Row(userId='100006', sessionId=6, firstname='Leyla', page='Cancellation Confirmation', song=None),
 Row(userId='100019', sessionId=71, firstname='Angel', page='Cancellation Confirmation', song=None),
 Row(userId='100003', sessionId=86, firstname='Nevaeh', page='Cancellation Confirmation', song=None),
 Row(userId='100023', sessionId=109, firstname='Sawyer', page='Cancellation Confirmation', song=None),
 Row(userId='100005', sessionId=115, firstname='Cason', page='Cancellation Confirmation', song=None),
 Row(userId='100017', sessionId=17, firstname='James', page='Cancellation Confirmation', song=None),
 Row(userId='100025', sessionId=129, firstname='London', page='Cancellation Confirmation', song=None),
 Row(userId='100009', sessionId=145, firstname='Troy', page='Cancellation Confirmation', song=None),
 Row(userId='100012', sessionId=156, firstname='Daniel', page='Cancellation Confirmation', song=None),
 Row(userId='100013', sessionId=165, firstname='Cali', page='Cancellation Confirmation', song=None),
 Row(userId='100022', sessionId=191, firstname='Mahi', page='Cancellation Confirmation', song=None),
 Row(userId='100014', sessionId=185, firstname='Rodrigo', page='Cancellation Confirmation', song=None),
 Row(userId='100015', sessionId=188, firstname='Tina', page='Cancellation Confirmation', song=None),
 Row(userId='100021', sessionId=172, firstname='Rayden', page='Cancellation Confirmation', song=None),
 Row(userId='100007', sessionId=205, firstname='Piper', page='Cancellation Confirmation', song=None),
 Row(userId='200001', sessionId=136, firstname='Reece', page='Cancellation Confirmation', song=None),
 Row(userId='200024', sessionId=208, firstname='Isaiah', page='Cancellation Confirmation', song=None),
 Row(userId='200011', sessionId=267, firstname='Charles', page='Cancellation Confirmation', song=None),
 Row(userId='200021', sessionId=276, firstname='Liliana', page='Cancellation Confirmation', song=None),
 Row(userId='200018', sessionId=268, firstname='Saulo', page='Cancellation Confirmation', song=None),
 Row(userId='200015', sessionId=270, firstname='Connor', page='Cancellation Confirmation', song=None),
 Row(userId='200017', sessionId=301, firstname='James', page='Cancellation Confirmation', song=None),
 Row(userId='200016', sessionId=347, firstname='Charlotte', page='Cancellation Confirmation', song=None),
 Row(userId='200020', sessionId=351, firstname='Keegan', page='Cancellation Confirmation', song=None),
 Row(userId='300007', sessionId=44, firstname='Lucas', page='Cancellation Confirmation', song=None),
 Row(userId='300001', sessionId=397, firstname='Antonina', page='Cancellation Confirmation', song=None)]

In [37]:
user_log_valid \
.select(["userId", "sessionId", "firstname", "page", "song"]) \
.where(user_log_valid.page == "Submit Downgrade") \
.collect()

[Row(userId='131', sessionId=249, firstname='Kael', page='Submit Downgrade', song=None),
 Row(userId='38', sessionId=313, firstname='Calvin', page='Submit Downgrade', song=None),
 Row(userId='141', sessionId=479, firstname='Kaylenn', page='Submit Downgrade', song=None),
 Row(userId='30', sessionId=532, firstname='Colin', page='Submit Downgrade', song=None),
 Row(userId='20', sessionId=378, firstname='Destiny', page='Submit Downgrade', song=None),
 Row(userId='12', sessionId=632, firstname='Sophia', page='Submit Downgrade', song=None),
 Row(userId='11', sessionId=487, firstname='Zoe', page='Submit Downgrade', song=None),
 Row(userId='61', sessionId=529, firstname='Parker', page='Submit Downgrade', song=None),
 Row(userId='81', sessionId=725, firstname='Oliver', page='Submit Downgrade', song=None),
 Row(userId='85', sessionId=734, firstname='Brayden', page='Submit Downgrade', song=None),
 Row(userId='140', sessionId=753, firstname='Lucero', page='Submit Downgrade', song=None),
 Row(userId='35', sessionId=812, firstname='Lily', page='Submit Downgrade', song=None),
 Row(userId='54', sessionId=859, firstname='Alexi', page='Submit Downgrade', song=None),
 Row(userId='77', sessionId=688, firstname='Autumn', page='Submit Downgrade', song=None),
 Row(userId='59', sessionId=510, firstname='Jaleel', page='Submit Downgrade', song=None),
 Row(userId='103', sessionId=865, firstname='Piper', page='Submit Downgrade', song=None),
 Row(userId='95', sessionId=826, firstname='Faigy', page='Submit Downgrade', song=None),
 Row(userId='74', sessionId=1101, firstname='Ashlynn', page='Submit Downgrade', song=None),
 Row(userId='85', sessionId=1183, firstname='Brayden', page='Submit Downgrade', song=None),
 Row(userId='9', sessionId=1276, firstname='Micah', page='Submit Downgrade', song=None),
 Row(userId='24', sessionId=1317, firstname='Garrett', page='Submit Downgrade', song=None),
 Row(userId='39', sessionId=1546, firstname='Payton', page='Submit Downgrade', song=None),
 Row(userId='39', sessionId=1609, firstname='Payton', page='Submit Downgrade', song=None),
 Row(userId='100', sessionId=1590, firstname='Colin', page='Submit Downgrade', song=None),
 Row(userId='140', sessionId=1643, firstname='Lucero', page='Submit Downgrade', song=None),
 Row(userId='35', sessionId=1704, firstname='Lily', page='Submit Downgrade', song=None),
 Row(userId='13', sessionId=1695, firstname='Anika', page='Submit Downgrade', song=None),
 Row(userId='13', sessionId=1695, firstname='Anika', page='Submit Downgrade', song=None),
 Row(userId='96', sessionId=1689, firstname='Alexandria', page='Submit Downgrade', song=None),
 Row(userId='25', sessionId=1718, firstname='Madison', page='Submit Downgrade', song=None),
 Row(userId='109', sessionId=1705, firstname='Casey', page='Submit Downgrade', song=None),
 Row(userId='49', sessionId=1744, firstname='Christan', page='Submit Downgrade', song=None),
 Row(userId='20', sessionId=1875, firstname='Destiny', page='Submit Downgrade', song=None),
 Row(userId='140', sessionId=1918, firstname='Lucero', page='Submit Downgrade', song=None),
 Row(userId='39', sessionId=1985, firstname='Payton', page='Submit Downgrade', song=None),
 Row(userId='131', sessionId=2041, firstname='Kael', page='Submit Downgrade', song=None),
 Row(userId='92', sessionId=2125, firstname='Riley', page='Submit Downgrade', song=None),
 Row(userId='61', sessionId=2345, firstname='Parker', page='Submit Downgrade', song=None),
 Row(userId='100018', sessionId=67, firstname='Jayden', page='Submit Downgrade', song=None),
 Row(userId='100015', sessionId=121, firstname='Tina', page='Submit Downgrade', song=None),
 Row(userId='100004', sessionId=112, firstname='Emily', page='Submit Downgrade', song=None),
 Row(userId='100025', sessionId=123, firstname='London', page='Submit Downgrade', song=None),
 Row(userId='100012', sessionId=94, firstname='Daniel', page='Submit Downgrade', song=None),
 Row(userId='100009', sessionId=126, firstname='Troy', page='Submit Downgrade', song=None),
 Row(userId='100004', sessionId=147, firstname='Emily', page='Submit Downgrade', song=None),
 Row(userId='100008', sessionId=132, firstname='Bryanna', page='Submit Downgrade', song=None),
 Row(userId='100016', sessionId=190, firstname='Landon', page='Submit Downgrade', song=None),
 Row(userId='100018', sessionId=202, firstname='Jayden', page='Submit Downgrade', song=None),
 Row(userId='200003', sessionId=28, firstname='Zoey', page='Submit Downgrade', song=None),
 Row(userId='200023', sessionId=69, firstname='Katiana', page='Submit Downgrade', song=None),
 Row(userId='200025', sessionId=115, firstname='Elias', page='Submit Downgrade', song=None),
 Row(userId='200019', sessionId=148, firstname='Conley', page='Submit Downgrade', song=None),
 Row(userId='200020', sessionId=222, firstname='Keegan', page='Submit Downgrade', song=None),
 Row(userId='200009', sessionId=251, firstname='Benjamin', page='Submit Downgrade', song=None),
 Row(userId='200011', sessionId=238, firstname='Charles', page='Submit Downgrade', song=None),
 Row(userId='200003', sessionId=283, firstname='Zoey', page='Submit Downgrade', song=None),
 Row(userId='200023', sessionId=295, firstname='Katiana', page='Submit Downgrade', song=None),
 Row(userId='300015', sessionId=69, firstname='Joshua', page='Submit Downgrade', song=None),
 Row(userId='300021', sessionId=144, firstname='Emma', page='Submit Downgrade', song=None),
 Row(userId='300002', sessionId=220, firstname='Lindyn', page='Submit Downgrade', song=None),
 Row(userId='300011', sessionId=362, firstname='Emilia', page='Submit Downgrade', song=None),
 Row(userId='300004', sessionId=267, firstname='Peyton', page='Submit Downgrade', song=None),
 Row(userId='300023', sessionId=459, firstname='Chloe', page='Submit Downgrade', song=None)]

In [26]:
flag_downgrade_event = udf(lambda x: 1 if x == "Submit Downgrade" else 0, IntegerType())
flag_cancellation_event = udf(lambda x: 1 if x == "Cancellation Confirmation" else 0, IntegerType())

In [27]:
user_log_valid = user_log_valid.withColumn("downgrade", flag_downgrade_event("page"))
user_log_valid = user_log_valid.withColumn("churn", flag_cancellation_event("page"))

In [28]:
user_log_valid.head(1)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30', churn=0, downgrade=0)]

In [33]:
user_log_valid \
.select(["userId", "ts", "page", "level", "churn", "downgrade"]) \
.filter(user_log_valid.userId == "18").filter(user_log_valid.churn == "1") \
.sort("ts") \
.collect()

[Row(userId='18', ts=1538943990000, page='Cancellation Confirmation', level='paid', churn=1, downgrade=0)]

In [41]:
user_log_valid \
.select(["userId", "ts", "page", "level", "churn", "downgrade"]) \
.filter(user_log_valid.downgrade == "1") \
.sort("ts") \
.show(user_log_valid.count(),False)

+------+-------------+----------------+-----+-----+---------+
|userId|ts           |page            |level|churn|downgrade|
+------+-------------+----------------+-----+-----+---------+
|131   |1538393619000|Submit Downgrade|paid |0    |1        |
|38    |1538516445000|Submit Downgrade|paid |0    |1        |
|200003|1538744281000|Submit Downgrade|paid |0    |1        |
|200023|1538753821000|Submit Downgrade|paid |0    |1        |
|141   |1538835479000|Submit Downgrade|paid |0    |1        |
|30    |1538995454000|Submit Downgrade|paid |0    |1        |
|20    |1538997356000|Submit Downgrade|paid |0    |1        |
|300015|1539027805000|Submit Downgrade|paid |0    |1        |
|100018|1539106390000|Submit Downgrade|paid |0    |1        |
|12    |1539144047000|Submit Downgrade|paid |0    |1        |
|11    |1539239742000|Submit Downgrade|paid |0    |1        |
|61    |1539244188000|Submit Downgrade|paid |0    |1        |
|81    |1539264337000|Submit Downgrade|paid |0    |1        |
|200025|1539330539000|Submit Downgrade|paid |0    |1        |
|85    |1539335599000|Submit Downgrade|paid |0    |1        |
|140   |1539337383000|Submit Downgrade|paid |0    |1        |
|35    |1539467798000|Submit Downgrade|paid |0    |1        |
|300021|1539515511000|Submit Downgrade|paid |0    |1        |
|54    |1539608060000|Submit Downgrade|paid |0    |1        |
|77    |1539608338000|Submit Downgrade|paid |0    |1        |
|59    |1539633167000|Submit Downgrade|paid |0    |1        |
|103   |1539647785000|Submit Downgrade|paid |0    |1        |
|95    |1539675894000|Submit Downgrade|paid |0    |1        |
|100015|1539834859000|Submit Downgrade|paid |0    |1        |
|100004|1539868732000|Submit Downgrade|paid |0    |1        |
|100025|1539968728000|Submit Downgrade|paid |0    |1        |
|100012|1539975063000|Submit Downgrade|paid |0    |1        |
|100009|1540126703000|Submit Downgrade|paid |0    |1        |
|74    |1540235073000|Submit Downgrade|paid |0    |1        |
|300002|1540236417000|Submit Downgrade|paid |0    |1        |
|85    |1540383285000|Submit Downgrade|paid |0    |1        |
|200019|1540471188000|Submit Downgrade|paid |0    |1        |
|200020|1540567296000|Submit Downgrade|paid |0    |1        |
|9     |1540706007000|Submit Downgrade|paid |0    |1        |
|24    |1540738746000|Submit Downgrade|paid |0    |1        |
|200009|1540873341000|Submit Downgrade|paid |0    |1        |
|100004|1540975222000|Submit Downgrade|paid |0    |1        |
|200011|1541006360000|Submit Downgrade|paid |0    |1        |
|39    |1541255372000|Submit Downgrade|paid |0    |1        |
|39    |1541357937000|Submit Downgrade|paid |0    |1        |
|100   |1541367880000|Submit Downgrade|paid |0    |1        |
|200003|1541511869000|Submit Downgrade|paid |0    |1        |
|140   |1541523845000|Submit Downgrade|paid |0    |1        |
|200023|1541541339000|Submit Downgrade|paid |0    |1        |
|35    |1541619996000|Submit Downgrade|paid |0    |1        |
|13    |1541654303000|Submit Downgrade|paid |0    |1        |
|13    |1541663041000|Submit Downgrade|paid |0    |1        |
|96    |1541722970000|Submit Downgrade|paid |0    |1        |
|25    |1541736251000|Submit Downgrade|paid |0    |1        |
|109   |1542044488000|Submit Downgrade|paid |0    |1        |
|49    |1542091077000|Submit Downgrade|paid |0    |1        |
|300011|1542193612000|Submit Downgrade|paid |0    |1        |
|300004|1542224966000|Submit Downgrade|paid |0    |1        |
|20    |1542235795000|Submit Downgrade|paid |0    |1        |
|140   |1542290890000|Submit Downgrade|paid |0    |1        |
|39    |1542419388000|Submit Downgrade|paid |0    |1        |
|131   |1542671497000|Submit Downgrade|paid |0    |1        |
|100008|1542748901000|Submit Downgrade|paid |0    |1        |
|92    |1542789622000|Submit Downgrade|paid |0    |1        |
|100016|1542989412000|Submit Downgrade|paid |0    |1        |
|100018|1543249878000|Submit Downgrade|paid |0    |1        |
|300023|1543354844000|Submit Downgrade|paid |0    |1        |
|61    |1543427572000|Submit Downgrade|paid |0    |1        |
+------+-------------+----------------+-----+-----+---------+

In [ ]:
# find the users who have churn and downgraded

In [42]:
downgrade_logs = user_log_valid.filter(user_log_valid.downgrade == "1")
downgrade_logs.select(['userID','page', 'firstName', 'lastName','ts', 'auth']).show(5, False)

+------+----------------+---------+--------+-------------+---------+
|userID|page            |firstName|lastName|ts           |auth     |
+------+----------------+---------+--------+-------------+---------+
|131   |Submit Downgrade|Kael     |Baker   |1538393619000|Logged In|
|38    |Submit Downgrade|Calvin   |Marshall|1538516445000|Logged In|
|141   |Submit Downgrade|Kaylenn  |Jenkins |1538835479000|Logged In|
|30    |Submit Downgrade|Colin    |Freeman |1538995454000|Logged In|
|20    |Submit Downgrade|Destiny  |Herring |1538997356000|Logged In|
+------+----------------+---------+--------+-------------+---------+
only showing top 5 rows

In [46]:
churn_logs = user_log_valid.filter(user_log_valid.churn == "1")
churn_logs.select(['userID','page', 'firstName', 'lastName','ts', 'auth']).show(5, False)

+------+-------------------------+---------+--------+-------------+---------+
|userID|page                     |firstName|lastName|ts           |auth     |
+------+-------------------------+---------+--------+-------------+---------+
|18    |Cancellation Confirmation|Adriel   |Mendoza |1538943990000|Cancelled|
|32    |Cancellation Confirmation|Diego    |Mckee   |1539033046000|Cancelled|
|125   |Cancellation Confirmation|Mason    |Hart    |1539318918000|Cancelled|
|105   |Cancellation Confirmation|Alexander|Garcia  |1539375441000|Cancelled|
|17    |Cancellation Confirmation|Kayla    |Johnson |1539465584000|Cancelled|
+------+-------------------------+---------+--------+-------------+---------+
only showing top 5 rows

In [62]:
user_ids_who_churn = [user_ids['userID'] for user_ids in churn_logs.select('userID').distinct().collect()]

In [80]:
user_ids_who_downgraded = [user_ids['userID'] for user_ids in downgrade_logs.select('userID').distinct().collect()]

In [63]:
len(user_ids_who_churn)

52

In [68]:
len(user_ids_who_downgraded)

63

In [82]:
user_ids_who_did_both = [x for x in user_ids_who_churn if x in user_ids_who_downgraded]

In [83]:
user_ids_who_did_both

['12', '103', '54', '100025', '100009', '100012', '100015', '200011', '200020']

# Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.
- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

# Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

# Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.