In [140]:
import pandas as pd
import numpy as np

data = pd.read_csv("ml-bugs.csv")
#print(data)

def getEntropy(m, n):
    return (-m/(m+n))*np.log2(m/(n+m)) - (n/(m+n))*np.log2(n/(n+m))

species = data['Species'].value_counts()
parent_entropy = getEntropy(species['Mobug'], species['Lobug'])

l17 = data['Length (mm)'] < 17.0 
child_17 = getEntropy(data[l17]['Species'].value_counts()['Mobug'], data[l17]['Species'].value_counts()['Lobug'])
nl17 = data['Length (mm)'] >= 17.0 
child_n17 = getEntropy(data[nl17]['Species'].value_counts()['Mobug'], data[nl17]['Species'].value_counts()['Lobug'])

m = len(data[l17])
n = len(data[nl17])

print('entropy = ', parent_entropy - m/(m+n)*child_17 - n/(m+n)*child_n17)

entropy =  0.11260735516748976

In [139]:
data[l17]

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
1    Mobug   Blue         16.3
2    Lobug   Blue         15.1
6    Mobug  Brown         15.7
12   Mobug  Brown         13.8
13   Lobug   Blue         14.5
19   Mobug   Blue         14.6
21   Lobug  Brown         14.1
23   Mobug   Blue         13.1

In [62]:
l17.value_counts()

False    15
True      9
Name: Length (mm), dtype: int64

In [141]:
import numpy as np
def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) + (tot-first)/tot*np.log2((tot-first)/tot))

tot_ent = two_group_ent(10, 24)                       
g17_ent = 15/24 * two_group_ent(11,15) + 9/24 * two_group_ent(6,9)                  

tot_ent -g17_ent

0.11260735516748976

In [77]:
d = data['Species'].value_counts()
print(d)

Lobug    14
Mobug    10
Name: Species, dtype: int64

In [95]:
d.index

Index(['Lobug', 'Mobug'], dtype='object')

In [96]:
for spec in d.index:
    print(spec, d[spec])

Lobug 14
Mobug 10

In [98]:
d[d.index[0]]

14